/*global*/

body{
    margin:0px;
    padding:0px;
    font:15/1.5 Arial;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button{
    height: 25px;
    padding:0 20px 0 20px;
    margin:0 0px 0 10px;
    background-color: blue;
    border-radius: 8%;
    width:200px;
    color:white;
}
.button:hover{
    background-color:chartreuse;
    color:black;
}


input{
    height: 20px;
    width: 250px;
    margin:10px;
    /* border:0px; */
    border-radius: 8%;
}

.card{
    background-color: white;
    color:black;
    padding:10px 0 10px 0;
}


/*header*/
header{
    padding:15px;
    min-height: 90px;
    /* border-bottom: solid red 2px; */
} 

header #logo{
    float:left;
    margin:10px;
}
header ul{
    margin:10px;
    padding:0px;
    float:right;
}

header li{
    float:left;
    padding:0 20px 0 20px;
    font-size: 20px;
}

header a{
    text-decoration:none;
    color:black;
}

header a:active{
    color:green;
}

header  a:hover{
    color:chartreuse;
}

/*intro */

#intro{
    padding:15px;
    font:Arial;
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
    /* border-bottom: solid red 2px; */
}

#intro h1{
    font-size:40px;
}
aside #image{
    float:right;
    width:40%;
    margin-bottom: 30px;
}

#intro #intro_article{
    float: left;
    width:40%; 
    font-size:20px;
}

#subscribe form{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/* #subscribe input{
    height: 25px;
    width: 250px;
    margin:10px;
} */


/*description */



#description {
    padding:15px;
    text-align: center;
    position: relative;
    background-color: hsl(240, 75%, 98%);
    /* border-bottom: solid red 2px; */
}

/* #description::before{
    content: '';
    background-image:url('./images/bg-curve-desktop.svg');
    background-size: cover; 
     border-top: 1px solid red; 
    background-position: center center;
    position:absolute;
    top:-20px;
    left: 10px; 
    height:40px;
    width:50%;
    margin-left:20%;

} */


#description::before{
    content: '';
    background-image:url('./images/bg-curve-desktop.svg');
    background-size: cover;
    /* border-top: 1px solid red;  */
    background-position: center center;
    position:absolute;
    top:-50px;
    left:0;
    height:50px;
    width:100%;
}

#description h1{
    font-size:40px;
}

aside #image2{
    margin:20px;
    float:right;
    width:40%;
}

#description #description_text{
    margin:20px;
    float: left;
    width:40%;
    font-size: 20px;
}

#description a h3{
    text-align: left;
    padding: 5px;
    color:aqua;
}

#description a h3:hover,#description a:hover{
    color:chartreuse;
}

/*card */

.card  h1{
    margin:0px 0 0px 12px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;

}

.card p{
    font-size:20px;
}

/*author in card*/

#author{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:2px;
}

#author #avatar
{
    border-radius: 60px;
    height:70px;
    width:70px;
}
.card #quotes{
    display: flex;
    margin-left: 15px;
    justify-content: flex-start;
}
#author h3{
    margin-bottom: 0px;
}


/*acess*/

#access{
    padding:15px;
    margin:0px;
    background-color:hsl(238, 22%, 44%);
    /* border-bottom: solid red 2px; */
}

#access #access_text{
    float: left;
    width:40%;
    padding:10px 0 10px 0;
    font-size:20px;
    color:white;
}

#access #access_form{
    float: right;
    width:40%;
    color:white;
}

#access form{
    display: flex;
    margin-top:20px;
    flex-direction: column;
}

#access form button{
    margin-top:10px;
}


/*contact*/

#contact{
    background-color: hsl(243, 87%, 12%);
    /* border-bottom: solid red 2px; */
    color:white;
    min-height: 300px;
}

#contact #details{
    display: flex;
    padding: 75px 10px 75px 10px;
    justify-content: space-around;
}

#contact #details #image_container{
    display: flex;
    min-height:200px;
    flex-direction: column;
    padding-top:10px;
    justify-content: space-around;
}

#contact #details #image_container #logo{
    filter: brightness(0) invert(1);
}
#contact #details #row1{
    padding-top:45px;
   
}

#contact #details #row2{
    padding-top:45px;
   
}

#contact #details #social-media{
    padding-top:90px;
}


#contact #details #social-media a{
    color:white;
    font-size: 30px;
    height: 30px;
    width: 40px;
    text-decoration: none;
}


#contact #details #social-media a:hover{
    color:chartreuse;
}
footer{
    margin:0px;
    /* background-color:hsl(243, 87%, 12%);  */
    color:black;
    text-align: center;
    font-size: 30px;
}


@media(max-width:700px){

    .container{
        display:flex;
        flex-direction: column;
        width: 100%;
         margin-right: 5px;
         margin-left: 5px; 
        overflow: hidden;
    }
  header img,header nav ul li{
      float:none;
      padding:3.5px;
      margin:0px;
  }

  header img{
      width:20%; 
  }

  header nav ul li{
      padding-left: 4px;
      font-size:15px;
  }

  header .container{
     display:flex;
     justify-self: flex-start;
     flex-direction: row;
     margin: 5px;
  }
  header ul{
      display: flex;
      padding: 13px;
      margin-top: 5px;
  }

  #intro .container{
      display: flex;
      flex-direction: column;
  }
 #intro img{
     width:100%;
     height:100%;
 }

 #intro #intro_article h1{
    font-size: 20px;
 }
 #intro #intro_article{
     width: 100%;
     font-size: 15px;
    }

#intro form{
    display: flex;
    flex-direction: column;
}

#intro form button{
    width: 260px;
    margin-right: 11px;
}
#description .container{
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
#description::before{
    /* content: ''; */
    background-image:url('./images/bg-curve-desktop.svg');
    /* background-size: cover; */
    /* background-position: center center; */
    position:absolute;
    top:-10px;
    left:0;
    height:20px;
    width:100%;

}
#description img{
   width:100%;
   height:100%;
   margin:0px;
}

#description #description_text{
    margin:0px;
    width:auto;
    font-size:15px;
}
#description #description_text h1{
    width:100%;
    font-size:20px;
}

#description a{
    display:inline;
}
#description a h3{
    text-align: center;
    padding: 5px;
    color:aqua;
}

#description a img{
   height:15px;
   width:15px;
}
.card p{
    font-size:15px;
}
.card #quotes{
    height: 10px;
    width: 10px;
}

#access .container{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0px;
    padding:0px;
}
#access #access_text{
    margin:0px;
    width:auto;
    font-size:15px;
    text-align: center;
}
#access #access_text h1{
    width:100%;
    font-size:20px;
}

#access #access_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:30px;
}
#access form button{
    width: 260px;
    margin-right: 11px;
}

#contact #details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:25px;
}
#contact #social-media {
    padding:0 5px 0 10px;
    align-self: center;
}
}

@media(min-width:2700px){
   #intro #subscribe form{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        margin-left:30px;
    }
}