/*global*/

body{
    margin:0;
    padding:0;
    /* font:1rem/0.1rem Arial; */
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button{
    height: 1.5rem;
    padding:0 1.25rem 0 1.25rem;
    margin:0 0 0 0.6rem;
    background-color: blue;
    border-radius: 6%;
    width:12.5rem;
    color:white;
}
.button:hover{
    background-color:chartreuse;
    color:black;
}


input{
    height: 1.25rem;
    width: 15rem;
    margin:0.6rem;
    /* border:0px; */
    border-radius: 6%;
}

.card{
    background-color: white;
    color:black;
    padding:0.6rem 0 0.6rem 0;
}


/*header*/
header{
    padding:1rem;
    min-height:8.6rem;
    /* border-bottom: solid red 2px; */
} 

header #logo{
    float:left;
    margin:0.6rem;
}
header ul{
    margin:0.6rem;
    padding:0;
    float:right;
}

header li{
    float:left;
    padding:0 1.25rem 0 1.25rem;
    font-size: 1.25rem;
}

header a{
    text-decoration:none;
    color:black;
}

header a:active{
    color:green;
}

header  a:hover{
    color:chartreuse;
}

/*intro */

#intro{
    padding:1rem;
    font:Arial;
    text-align: center;
    margin-top:1.25rem;
    margin-bottom: 1.25rem;
    /* border-bottom: solid red 2px; */
}

#intro h1{
    font-size: 2.5rem;
}
aside #image1{
    float:right;
    width:40%;
    margin-bottom: 2rem;
}

#intro #intro_article{
    float: left;
    width:40%; 
    font-size:1.25rem;
}

#subscribe form{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* #subscribe input{
    height: 25px;
    width: 250px;
    margin:10px;
} */


/*description */



#description {
    padding:1rem;
    text-align: center;
    position: relative;
    background-color: hsl(240, 75%, 98%);
    /* border-bottom: solid red 2px; */
}

/* #description::before{
    content: '';
    background-image:url('./images/bg-curve-desktop.svg');
    background-size: cover; 
     border-top: 1px solid red; 
    background-position: center center;
    position:absolute;
    top:-20px;
    left: 10px; 
    height:40px;
    width:50%;
    margin-left:20%;

} */


#description::before{
    content: '';
    background-image:url('./images/bg-curve-desktop.svg');
    background-size: cover;
    /* border-top: 1px solid red;  */
    background-position: center center;
    position:absolute;
    top:-3rem;
    left:0;
    height:3rem;
    width:100%;
}

#description h1{
    font-size:2.5rem;
}

aside #image2{
    margin:1.25rem;
    float:right;
    width:40%;
}

#description #description_text{
    margin:1.25rem;
    float: left;
    width:40%;
    font-size: 1.25rem;
}

#description a h3{
    text-align: left;
    padding: 0.25rem;
    color:aqua;
}

#description a h3:hover,#description a:hover{
    color:chartreuse;
}

/*card */

.card  h1{
    margin:0px 0 0 0.75rem;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;

}

.card p{
    font-size:1.25rem;
}

/*author in card*/

#author{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:0.15rem;
}

#author #avatar
{
    border-radius: 4rem;
    height:4.5rem;
    width:4.5rem;
}
.card #quotes{
    display: flex;
    margin-left: 1rem;
    justify-content: flex-start;
}
#author h3{
    margin-bottom: 0;
}


/*acess*/

#access{
    padding:1rem;
    margin:0;
    background-color:hsl(238, 22%, 44%);
    /* border-bottom: solid red 2px; */
}

#access #access_text{
    float: left;
    width:40%;
    padding:0.6rem 0 0.6rem 0;
    font-size:1.25rem;
    color:white;
}

#access #access_form{
    float: right;
    width:40%;
    color:white;
}

#access form{
    display: flex;
    margin-top:1.25rem;
    flex-direction: column;
}

#access form button{
    margin-top:0.6rem;
}


/*contact*/

#contact{
    background-color: hsl(243, 87%, 12%);
    /* border-bottom: solid red 2px; */
    color:white;
    min-height: 19rem;
}

#contact #details{
    display: flex;
    padding: 4.5rem 0.6rem 4.5rem 0.6rem;
    justify-content: space-around;
}

#contact #details #image_container{
    display: flex;
    min-height:12.5rem;
    flex-direction: column;
    padding-top:0.6rem;
    justify-content: space-around;
}

#contact #details #image_container #logo{
    filter: brightness(0) invert(1);
}
#contact #details #row1{
    padding-top:3rem;
   
}

#contact #details #row2{
    padding-top:3rem;
   
}

#contact #details #social-media{
    padding-top:5.6rem;
}


#contact #details #social-media a{
    color:white;
    font-size: 2rem;
    height: 2rem;
    width: 2.5rem;
    text-decoration: none;
}


#contact #details #social-media a:hover{
    color:chartreuse;
}
footer{
    margin:0px;
    /* background-color:hsl(243, 87%, 12%);  */
    color:black;
    text-align: center;
    font-size: 30px;
}


@media(max-width:700px){

    .container{
        display:flex;
        flex-direction: column;
        width: 100%;
         margin-right: 0.25rem;
         margin-left: 0.25rem; 
        overflow: hidden;
    }
  header img,header nav ul li{
      float:none;
      padding:0.2rem;
      margin:0;
  }

  header img{
      width:21%; 
  }

  header nav ul li{
      padding-left:0.25rem;
      font-size:0.9rem;
  }

  header .container{
     display:flex;
     justify-self: flex-start;
     flex-direction: row;
     margin: 0.2rem;
  }
  header ul{
      display: flex;
      padding: 0.8rem;
      margin-top: 0.25rem;
  }

  #intro .container{
      display: flex;
      flex-direction: column;
  }
 #intro img{
     width:100%;
     height:100%;
 }

 #intro #intro_article h1{
    font-size: 1.25rem;
 }
 #intro #intro_article{
     width: 100%;
     font-size: 1rem;
    }

#intro form{
    display: flex;
    flex-direction: column;
}

#intro form button{
    width: 16rem;
    margin-right: 0.75rem;
}
#description .container{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;
}
#description::before{
    /* content: ''; */
    background-image:url('./images/bg-curve-desktop.svg');
    /* background-size: cover; */
    /* background-position: center center; */
    position:absolute;
    top:-0.6rem;
    left:0;
    height:1.25rem;
    width:100%;

}
#description img{
   width:100%;
   height:100%;
   margin:0;
}

#description #description_text{
    margin:0;
    width:auto;
    font-size:1rem;
}
#description #description_text h1{
    width:100%;
    font-size:1.25rem;
}

#description a{
    display:inline;
}
#description a h3{
    text-align: center;
    padding: 0.25rem;
    color:aqua;
}

#description a img{
   height:1rem;
   width:1rem;
}
.card p{
    font-size:1rem;
}
.card #quotes{
    height: 0.6rem;
    width: 0.6rem;
}

#access .container{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0;
    padding:0;
}
#access #access_text{
    margin:0;
    width:auto;
    font-size:1rem;
    text-align: center;
}
#access #access_text h1{
    width:100%;
    font-size:1.25rem;
}

#access #access_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:2rem;
}
#access form button{
    width: 16rem;
    margin-right: 0.75rem;
}

#contact #details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:1.5rem;
}
#contact #social-media {
    padding:0 0.25rem 0 0.6rem;
    align-self: center;
}
}

/* @media(min-width:1800px){
   #intro #subscribe form{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        margin-left:2rem;
        font-size: 3rem;
    }
} */